@import '../styles/variables.scss';

.hero {
  color: #eee1c8;
  position: relative;
  height: 100vh;
  width: 100vw;
  background-color: $brand-dark;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("/manhattan-darker.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  .central {
    width: 40%;
    display: flex;
    flex-direction: column;
    color: $brand-dark;
    padding: $spacing-large;
  }

  .landing-page-heading {
    font-size: 50px;
    color: #edddc1;
  }

  .top {
    display: flex;
    justify-content: center;
  }

  .bottom {
    display: flex;
    justify-content: space-between;
    margin-top: $spacing-large;
  }

  .split {
    border: 1px solid $brand-primary;
    color: $brand-primary;
    border-radius: 2px;
    height: 100%;
    width: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 30px;
    padding: 4px;
    transition: all 0.2s;
    &:hover {
      cursor: pointer;
      color: $brand-primary-dark;
      border: 1px solid $brand-primary-dark;
    }
  }
}
