// Spacing
$spacing-extra-small: 5px;
$spacing-small: 10px;
$spacing-medium: 15px;
$spacing-large: 20px;
$spacing-extra-large: 25px;

// Colours
$brand-primary: #fcc546;
$brand-primary-dark: #fcc546cc;
$brand-dark: #131313;
$brand-light: #fff;
$brand-grey-light: #767676;

// Typography
$font-family: 'Teko', sans-serif;