@import '../../styles/variables.scss';

.nav {
  @media (max-width: 530px) {
    display: none;
  }
  height: 70px;
  width: 100%;
  padding: $spacing-large;
  display: flex;
  background: white;
  position: fixed;
  box-shadow: 1px 7px 9px -3px hsla(0, 0%, 54.1%, 0.5);
  &-links {
    width: 80%;
    display: flex;
    align-items: center;
    list-style: none;
    li {
      margin: 0 30px;
      font-size: $spacing-large;
      a {
        color: $brand-dark;
        transition: color 0.3s ease-in-out;
        text-decoration: none;
      }
      &::after {
        content: "";
        display: block;
        width: 0;
        height: 3px;
        background: $brand-primary;
        transition: width 0.3s ease-in-out;
      }
      &:hover {
        a {
          color: $brand-primary;
        }
        &::after {
          width: 100%;
        }
      }
    }
  }
  .signout {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 20%;
    button {
      font-size: $spacing-large;
      cursor: pointer;
      padding: $spacing-extra-small $spacing-small;
      background: transparent;
      border: 1px solid $brand-dark;
      &:hover {
        border: 1px solid transparent;
        background: $brand-primary;
      }
    }
  }
}
